export(getMoreRegressions)
export(getRegressions)
export(moreReg)
export(runReg)
export(testReg)
exportClasses(MoreRegressions)
exportClasses(Regressions)
exportMethods(getMoreRegressions)
exportMethods(getRegressions)
exportMethods(initialize)
exportMethods(moreReg)
exportMethods(plot)
exportMethods(print)
exportMethods(runReg)
exportMethods(testReg)
